<div class="flash">
  <%= if notice %>
    <p class="flash_notice"><%= notice %></p>
  <% elsif alert %>
    <p class="flash_alert"><%= alert %></p>
  <% end %>

  <p class="flash_placeholder">&nbsp;</p>
</div>