<div class="flash py-1">
  <% if flash[:notice] %>
    <p class="flash_notice"><%= flash[:notice] %></p>
  <% elsif flash[:alert] %>
    <p class="flash_alert"><%= flash[:alert] %></p>
  <% end %>

  <p class="flash_placeholder">&nbsp;</p>
</div>