<footer class='footer'>
  <% if user_signed_in? %>
  <div class='footer_actions'>
    <% if current_page?(categories_path) %>
      <%= link_to 'New Category', new_category_path, class: 'button button__new' %>
    <% else %>
      <button>New Transaction</button>
    <% end %>
  </div>
  <% elsif current_page?(splash_path) %>
    <ul class='splash_links'>
      <li>
        <%= link_to "Sign in", new_user_session_path %>
      </li>
      <li>
        <%= link_to "Sign up", new_user_registration_path %>
      </li>
    </ul>
  <% end %>
</footer>