<footer class='footer'>
  <% if user_signed_in? %>
    <% if current_page?(categories_path) %>
      <button>New Category</button>
    <% end %>

    <button>New Transaction</button>
  <% end %>

  <ul class='splash_links'>
    <li>
      <%= link_to "Sign in", new_user_session_path %>
    </li>
    <li>
      <%= link_to "Sign up", new_user_registration_path %>
    </li>
  </ul>
</footer>