.splash {
  position: relative;

  &_title {
    font-family: 'Shrikhand', cursive;
    font-size: 2.5rem;
    font-weight: 200;
    padding: 35vh 0 0;
  }

  &_links {
    position: fixed;
    bottom: 0;
    left: 50%;
    translate: -50% 0;
    width: 100%;
    max-width: 30em;
    gap: 1rem;
  }
}
