a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3 {
  margin: 0;
  color: var(--dark);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.flash {
  p {
    margin: 0;
  }
}

.shadow {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
