<li class='expense_card'>
  <div class='right'>
    <span class='expense_name'><%= expense.name %></span>
    <span class='expense_amount'><%= number_to_currency(expense.amount) %></span>
  </div>

  <span class='expense_date'><%= expense.created_at.strftime('%b %d, %Y') %></span>
</li>
